{:deps {; Bases
        poly/api {:local/root "bases/api"}

        ; Components
        poly/http-server {:local/root "components/http-server"}
        poly/logger {:local/root "components/logger"}
        poly/filesystem {:local/root "components/filesystem"}

        poly/database {:local/root "components/database"}
        poly/table {:local/root "components/table"}

        ; Libraries
        duct/core {:mvn/version "0.8.1"}

        org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}

        integrant/integrant {:mvn/version "0.13.1"}
        integrant/repl {:mvn/version "0.4.0"}

        com.brunobonacci/mulog {:mvn/version "0.9.0"}}

 :aliases {:dev {:extra-paths ["development/src"
                               "development/resources"]

                 :extra-deps {djblue/portal {:mvn/version "0.58.5"}}}

           :test {:extra-paths ["components/filesystem/test"]
                  :extra-deps {midje/midje {:mvn/version "1.10.10"}}}

           :outdated {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}

           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}}}}


