{:deps {; Bases
        db0/api {:local/root "bases/api"}

        ; Components
        db0/http-server {:local/root "components/http-server"}
        db0/logger {:local/root "components/logger"}
        db0/filesystem {:local/root "components/filesystem"}

        db0/database {:local/root "components/database"}
        db0/table {:local/root "components/table"}

        db0/fault {:local/root "components/fault"}

        ; Libraries
        duct/core {:mvn/version "0.8.1"}

        org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}

        integrant/integrant {:mvn/version "0.13.1"}
        integrant/repl {:mvn/version "0.4.0"}

        com.brunobonacci/mulog {:mvn/version "0.9.0"}}

 :aliases {:dev {:extra-paths ["development/src"
                               "development/resources"]

                 :extra-deps {djblue/portal {:mvn/version "0.58.5"}}}

           :test {:extra-deps {fudje/fudje {:mvn/version "0.9.8"}

                               polylith-kaocha/kaocha-wrapper
                               {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag "v0.8.4"
                                :git/sha "f096de8"
                                :deps/root "projects/kaocha-wrapper"}}}

           :outdated {:main-opts ["-m" "antq.core"]
                      :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}}

           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}

                               polylith-kaocha/test-runner
                               {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag "v0.8.4"
                                :git/sha "f096de8"
                                :deps/root "projects/test-runner"}}}}}